# Ignore Gradle project-specific cache directory
.gradle
.project

# Ignore Gradle build output directories
build
semplate-lib/bin
semplate-lib/build
semplate-lib/.classpath
semplate-lib/.settings
semplate-lib/.project
